* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#71b7e6), to(#83449c));
  background: linear-gradient(180deg, #71b7e6, #83449c);
}

body header {
  color: #623275;
}

body .wrapper {
  margin: 10rem auto;
  max-width: 25rem;
  width: 100%;
  background: #fff;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  padding: 1.6rem;
}

body .wrapper header {
  font-size: 1.9rem;
  font-weight: 600;
}

body .wrapper .inputField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.8rem;
  width: 100%;
  margin-top: 1.5rem;
}

body .wrapper .inputField input {
  width: 85%;
  height: 100%;
  border: 1px solid #ccc;
  font-size: 1.06rem;
  padding-left: 0.9rem;
  outline: none;
}

body .wrapper .inputField button {
  width: 3.75rem;
  height: 100%;
  border: none;
  outline: none;
  background: #8e49e8;
  color: #fff;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 0.19rem;
  -webkit-border-radius: 0.19rem;
  -moz-border-radius: 0.19rem;
  -ms-border-radius: 0.19rem;
  -o-border-radius: 0.19rem;
  margin-left: 0.3rem;
  opacity: 0.6;
  pointer-events: none;
}

body .wrapper .inputField button.active {
  opacity: 1;
  pointer-events: auto;
}

body .wrapper .todoList {
  max-height: 15.6rem;
  overflow-y: auto;
}

body .wrapper .todoList li {
  list-style: none;
  height: 2.8rem;
  line-height: 2.8rem;
  position: relative;
  background: #f2f2f2;
  border-radius: 0.19rem;
  -webkit-border-radius: 0.19rem;
  -moz-border-radius: 0.19rem;
  -ms-border-radius: 0.19rem;
  -o-border-radius: 0.19rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 0 0.9rem;
  cursor: default;
  overflow: hidden;
}

body .wrapper .todoList li:hover span {
  right: 0rem;
}

body .wrapper .todoList li span {
  position: absolute;
  right: -5rem;
  color: #fff;
  width: 5rem;
  text-align: center;
  background: #e74c3c;
  border-radius: 0 0.19rem 0.19rem 0;
  -webkit-border-radius: 0 0.19rem 0.19rem 0;
  -moz-border-radius: 0 0.19rem 0.19rem 0;
  -ms-border-radius: 0 0.19rem 0.19rem 0;
  -o-border-radius: 0 0.19rem 0.19rem 0;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

body .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .footer button {
  border: none;
  outline: none;
  background: #8e49e8;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.19rem;
  -webkit-border-radius: 0.19rem;
  -moz-border-radius: 0.19rem;
  -ms-border-radius: 0.19rem;
  -o-border-radius: 0.19rem;
  margin-left: 0.3rem;
  padding: 0.4rem 0.6rem;
  opacity: 0.6;
  pointer-events: none;
}

body .footer button.active {
  opacity: 1;
  pointer-events: auto;
}
/*# sourceMappingURL=style.css.map */