@import "_variable.scss";
@import "_reset.scss";
@import "media.scss";
.section-header {
    background-image: url(/assest/image/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    .shadow {
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        .container-fluid {
            header {
                .nav-body {
                    max-width: 27.5rem;
                    margin-top: 13rem;
                    padding-left: 2rem;
                    h1 {
                        font-weight: 700;
                        font-size: 3rem;
                        font-family: $font-family-base;
                        color: white;
                    }
                    p {
                        font-family: $font-family-base;
                        color: white;
                        font-size: 1.5rem;
                    }
                    button {
                        border: 2px solid #FFFFFF;
                        box-sizing: border-box;
                        filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
                        padding: 0.5rem 1rem;
                        background: transparent;
                        color: white;
                        font-weight: 500;
                        font-size: 1.25rem;
                        font-family: $font-family-base;
                        border-radius: 0.4rem;
                        -webkit-border-radius: 0.4rem;
                        -moz-border-radius: 0.4rem;
                        -ms-border-radius: 0.4rem;
                        -o-border-radius: 0.4rem;
                    }
                }
                .social-icons {
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    align-items: end;
                    i {
                        color: white;
                        margin-top: 0.5rem;
                    }
                }
                .top-nav {
                    background: transparent;
                    .navbar {
                        .navbar-brand {
                            color: white;
                            font-family: $font-family-base;
                            font-weight: 900;
                            font-size: 2.3rem;
                            padding-left: 3rem;
                            padding-top: 1.5rem;
                        }
                        .collapse {
                            .navbar-nav {
                                .nav-item {
                                    position: relative;
                                    padding: 0.5rem 3rem;
                                    border-bottom: 0.5px solid gray;
                                    .nav-link1 {
                                        font-size: 1.13rem;
                                        font-family: $font-family-base;
                                        color: white;
                                        transition: 0.5s ease;
                                        -webkit-transition: 0.5s ease;
                                        -moz-transition: 0.5s ease;
                                        -ms-transition: 0.5s ease;
                                        -o-transition: 0.5s ease;
                                    }
                                    .nav-link:hover {
                                        border-bottom: 2px solid #EE7100;
                                        transition: translateY (-6px);
                                        -webkit-transition: translateY (-6px);
                                        -moz-transition: translateY (-6px);
                                        -ms-transition: translateY (-6px);
                                        -o-transition: translateY (-6px);
                                    }
                                }
                            }
                        }
                    }
                }
                .bottom-nav {
                    display: flex;
                    justify-content: end;
                    align-items: end;
                    .d-flex {
                        i {
                            color: white;
                        }
                        .glass {
                            position: relative;
                            .fa-magnifying-glass {
                                position: absolute;
                                bottom: 0.5rem;
                                right: 0.1rem;
                            }
                            input {
                                background: rgba(255, 255, 255, 0.37);
                                border-radius: 8px;
                                outline: none;
                                border: none;
                                padding-left: 1rem;
                                width: 100%;
                            }
                        }
                        .form-select {
                            border: none;
                            width: 95%;
                        }
                    }
                }
            }
        }
    }
}

.container {
    .section-title {
        h1 {
            color: #1E398F;
            font-weight: 800;
            font-size: 2.2rem;
            font-family: $font-family-base;
        }
        p {
            font-size: 1.4rem;
        }
    }
    .top-schools {
        h2 {
            font-weight: 900;
            color: #979797;
            font-size: 1.6rem;
            font-family: $font-family-base;
            font-style: italic;
        }
        .top-schools-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
            align-items: center;
            width: 100%;
            .card {
                margin-left: auto;
                margin-right: auto;
                width: 19rem;
                background: #FFFFFF;
                box-shadow: 0px 0px 9px rgba(69, 69, 69, 0.23);
                border-radius: 6px;
                border: none;
                margin-top: 1.5rem;
                img {
                    height: 10.3rem;
                }
                .card-body {
                    h3 {
                        font-weight: 800;
                        font-family: $font-family-base;
                        font-size: 1.2rem;
                        color: #EE7100;
                        text-align: center;
                    }
                    p {
                        font-size: 1.06rem;
                        font-family: $font-family-base;
                        text-align: center;
                    }
                    i {
                        color: #B8B8B8;
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}

.all-link {
    a {
        text-decoration: none;
        color: #979797;
        font-weight: 800;
        font-size: 1.1rem;
        margin-top: 1rem;
        font-family: $font-family-base;
    }
}

.country-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
    align-items: center;
    width: 100%;
    .card-1 {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 18rem;
        height: 17rem;
        margin-top: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        word-wrap: break-word;
        background-clip: border-box;
        border-radius: 0.25rem;
        background-image: url('/assest/image/image\ 10.png');
        background-size: cover;
    }
    .country-button {
        margin-left: 2rem;
        margin-top: auto;
        margin-bottom: 2rem;
        button {
            padding: 0.2rem 1.5rem;
            background: #EE7100;
            border: none;
            font-size: 1.12rem;
            color: white;
            font-weight: 500;
            font-family: $font-family-base;
            box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
            border-radius: 0.4rem;
            -webkit-border-radius: 0.4rem;
            -moz-border-radius: 0.4rem;
            -ms-border-radius: 0.4rem;
            -o-border-radius: 0.4rem;
        }
    }
    .card-2 {
        position: relative;
        display: flex;
        width: 18rem;
        height: 17rem;
        margin-top: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        word-wrap: break-word;
        background-clip: border-box;
        border-radius: 0.25rem;
        background-image: url('/assest/image/image\ 11.png');
        background-size: cover;
    }
    .card-3 {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 18rem;
        height: 17rem;
        margin-top: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        word-wrap: break-word;
        background-clip: border-box;
        border-radius: 0.25rem;
        background-image: url('/assest/image/image\ 12.png');
        background-size: cover;
    }
    .card-4 {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 18rem;
        height: 17rem;
        margin-top: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        word-wrap: break-word;
        background-clip: border-box;
        border-radius: 0.25rem;
        background-image: url('/assest/image/image\ 13.png');
        background-size: cover;
    }
}

.browse-by-discipline-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    align-items: center;
    width: 100%;
    .card-browse-by-discipline {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 13rem;
        height: 12rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        background: #FFFFFF;
        box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
        border-radius: 1.4rem;
        -webkit-border-radius: 1.4rem;
        -moz-border-radius: 1.4rem;
        -ms-border-radius: 1.4rem;
        -o-border-radius: 1.4rem;
    }
    .card-icon {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        height: 7.6rem;
    }
}

// ---owl carusel----//
.owl-carousel {
    .item {
        width: 22rem;
        .card {
            margin-right: 1rem;
            width: 70%;
            background: #FFFFFF;
            box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
            img {
                height: 11rem;
            }
            .card-body {
                h3 {
                    font-size: 1.4rem;
                    text-align: center;
                    font-weight: 700;
                    font-family: $font-family-base;
                    color: #EE7100;
                }
                p {
                    font-weight: 400;
                    font-size: 1.12rem;
                    font-family: $font-family-base;
                    text-align: center;
                }
                i {
                    color: #B8B8B8;
                }
            }
        }
    }
}

footer {
    background: #313237;
    height: auto;
    .content {
        display: flex;
        justify-content: space-between;
        padding-top: 2rem;
        h2 {
            color: white;
        }
        li {
            a {
                color: white;
                text-decoration: none;
                text-align: center;
                margin-right: 3rem;
            }
        }
    }
    h3 {
        font-size: 0.8rem;
        color: white;
        margin-top: 5rem;
    }
    .input-btn {
        display: flex;
        justify-content: end;
        max-width: 17rem;
        .subscribe-btn {
            background: #EE7100;
            border-radius: 6px;
            padding: 0.3rem 0.8rem;
        }
        input {
            outline: none;
            background: transparent;
            border: 0.5px solid #979797;
            box-sizing: border-box;
            border-radius: 3px;
            padding-left: 0.5rem;
        }
    }
}